@import "src/styles/abstract/variables";

.footer ul li a{
  font: normal normal medium 18px/22px ;
}

.text-color {
  color: $color_text !important;
}

.text-footer-font-header {
  font: normal normal bold 21px/26px Poppins;
}

.text-footer-font-desc {
  font: normal normal medium 13px/16px Poppins;
}

.text-footer-font-copy-right {
  font: normal normal medium 14px/17px Poppins;
}

