@import "src/styles/abstract/variables";

.header {
  z-index: 200;
  .navbar{
    @include media-breakpoint-down(md) {
      --bs-bg-opacity: 1;
      background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    }
  }
  .border-register{
    border: 1px solid $color_text;
    border-radius: 5px;
  }
  ul {
    z-index: 1000;
  }
  .header-img {
    width: 171px;
    height: 73px;
    @include media-breakpoint-down(md) {
      width: 120px;
      height: 50px;
    }
  }

  .left-header {
    .navbar-nav {
      @include media-breakpoint-down(md) {
        flex-direction: row;
      }
      .border-register {
        @include media-breakpoint-down(md) {
          padding: 0 10px;
        }
      }
    }
  }
}
